*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/restaurante.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    display: grid;
}
.fundo{
    height: 100vh;
    width: 100vw;
}
header{
    display: flex;
    box-sizing: border-box;
    gap: 40px;
    align-items: center; 
    justify-content: space-between;
    text-align: right;
    margin-right: 90px;
}
p{
    color: whitesmoke;
    background-color: brown;
    align-items: center;
    text-align: center;

}
.titulomc{
    color: #FAFF00;
    text-align: right;
    margin-right: 500px;
    margin-left: 100px;
    margin-top: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.logo{
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 20px;
    width: 80px;
    height: 70px;
}
.info{
    display: flex;
    gap: 24px;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
}
.introducao{
    display: flex;
    position: fixed;
    width: 500px;
    gap: 48px;
    margin-left:1650px;
    margin-top: 10px;
    font-size: x-large;
    padding: 0px 310px
    font-family: 'Roboto', sans-serif;
    text-align: right;

}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}
.lanche {
    margin-left: 200px;
    height: auto;


}
  /* responsividade do Ipad Mini */
@media(max-width: 1024px){
    html{
        background-size: cover;
        width: 100%;
    }
    body{
    min-width:768px;
    max-width: 1024px;
    margin-right: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    position: relative;

    }
    header{
        width: 100%;
        display: flex;
        margin-left: 10px;
        justify-content: space-between;
        max-width: 400px;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 60px;
        margin-left: 150px;
        margin-top: 64px;
    
    }
    .logo{
        margin-right: 80px;
        justify-content: space-between;
        align-items: flex-start;
    }
    main{
        width: 100%;    
    }
    .titulomc{
         margin-right: 126px;
         margin-left: 64px;
         margin-top: 244px;
         font-size: larger;
         text-transform: uppercase;
    }
    .lanche {
        margin-left: 30px;
        
    }
    .logo{
        margin-left: 40px;
    }
    .introducao{
        margin-left: 280px;
        margin-right: 100px;
        margin-top: 40px;
        width: -70px;
        font-size: large;  
        padding: 0px 24px;
    }
    footer{
        backface-visibility: hidden;
        background-position: 20%;
        
    }
}
    /* responsividade Iphone SE */
@media(max-height: 667px){
    html{
        width: 168%; 
        height: 168%;  
        background-size: cover; 
    }
    body{
        max-width: 667px;
        min-width: 375px;
        background-size: cover;
        overflow: hidden;
        display: grid;
        margin-right: 150px;
        justify-content: space-between;
    }
    header{
        justify-content: space-between;
        justify-items: center;
        margin-right: 100px;
    }
    main{
        background-size: cover;

    }
    .lanche{
        margin-left: -10px;
        margin-top: -86px;
    }
    .titulomc{
        margin-top: 200px;
        margin-left: 350px;
        gap: 6px;
        text-align: left;
        width: 240px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
    .info{
        font-size: medium;
        font-family: 'Roboto', sans-serif;
        margin-left: 170px;
    }
    .introducao{
        margin-top: 50px;
        margin-top: 480px;
        margin-right: 200px;
        margin-left: 210px;
        padding: 0px 64px;
        gap: 24px;
        max-height: 667px;
    }
   

}
